body {
  background: #07294d url(/images/masters-degree/drexel.jpg) no-repeat center center; }

a {
  color: #ffc600; }
  a:hover {
    color: #cc9e00; }

time.countdown {
  color: #ffc600; }

.logo {
  background-image: url(images/nothing.png);
  width: 200px;
  height: 100px; }
